.hero-staff {
  padding: 34px 0 46px;
  background-color: black;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 496px;
  position: relative;
  background-image: url(../img/team/bg.jpg);
  background-position: center;
  display: flex;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        272deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  .breadcrumbs {
    color: inherit;
  }
  .title {
    color: inherit;
  }
  .subtitle {
    color: inherit;
  }

  .custom-form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: flex-end;
  }

  @media (max-width: 767px) {
    background-position: -250px center;
    min-height: 375px;
  }
}
