.mobile-nav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 888;
  top: 0;
  transition: all 0.3s;

  background-color: var(--white);
  padding-top: calc(31px + 88px);
  padding-bottom: 32px;
  overflow: auto;

  right: 100%;

  // &__item {
  //   position: relative;
  // }
  &__body {
    margin-bottom: 29px;
  }
  &__footer {
    display: none;
  }
  &__item:last-of-type {
    position: relative;
  }
  &__item:last-of-type::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--line);
    z-index: 2;
  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #424242;
    transition: all 0.3s;
    width: 100%;
    max-width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 25px 48px;
    padding-left: 0;
    position: relative;
    background-color: transparent;

    span {
      position: relative;
      z-index: 3;
    }
    &::before {
      content: "";
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.3s;
      background-color: transparent;
      position: absolute;
      z-index: 3;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background: var(--line);
      z-index: 2;
    }
    &:hover {
      color: var(--white);
      &::before {
        left: -48px;
        right: -48px;
        bottom: -1px;
        background: var(--red);
      }
      &::after {
        opacity: 0;
      }
    }
  }

  &__sub-list {
    gap: 0 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
    margin-top: 24px;
    display: none;
  }

  &__item.isActive {
    .mobile-nav__sub-list {
      display: grid;
    }
   .mobile-nav__custom-vector {
      opacity: 0;
    }
    .mobile-nav__link {
      color: var(--white);
      &::before {
        left: -48px;
        right: -48px;
        bottom: -1px;
        background: var(--red);
      }
      .mobile-nav__link::after {
        opacity: 0;
      }
    }
  }
  &__sub-link {
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    display: grid;
    gap: 8px;
    align-items: center;
    grid-template-columns: auto 1fr;
    transition: all 0.3s;
    position: relative;
    padding: 8px 20px;
    padding-left: 0;
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: #9f231f;
      transition: all 0.3s;
    }
    &:hover,
    &:focus,
    &:active {
      color: var(--white);
      background-color: #9f231f;
      padding-left: 16px;

      &::before {

        background-color: var(--white);
      }
    }
  }

  &__custom-vector {
    // transform-origin: center;
    transition: transform 0.3s;
  }
  &__link:hover &__custom-vector {
    opacity: 0;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #424242;
  }
  .call-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--red);
  }

  @media (max-width: 767px) {
    &__sub-list {
      gap: 0;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 32px;
    }
    &__link {
      font-size: 20px;
      padding: 16px 0;
      &:hover {
        &::before {
          left: -20px;
          right: -20px;
        }
      }
    }
    &__icon {
      svg {
        width: auto;
        height: 28px;
      }
    }
  }
  @media (max-width: 374px) {
    padding-top: 90px;
    .phone {
      font-size: 24px;
    }
    &__body {
      margin-bottom: 20px;
    }
    &__link {
      font-size: 16px;
      padding: 14px 0;
    }
    &__icon svg {
      height: 24px;
    }
  }
}
