.place-card {
  padding-top: 33px;
  padding-bottom: 60px;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
  }
  &__left {
    grid-column: 1/9;
  }

  &__right {
    grid-column: 10/13;
  }
  &__manager {
    position: sticky;
    top: 100px;
  }

  &__title {
  }
  &__details {
    margin-bottom: 24px;
    h3 {
      font-weight: 400;
      font-size: 24px;
      color: var(--text);
    }
  }
  &__place {
    margin-bottom: 24px;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  &__text {
    margin: 0;
    margin-right: 15px;
  }
  &__slider {
    height: 480px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // ПЕРЕОПРЕДЕЛЕНИЯ

  .breadcrumbs {
    color: inherit;
  }
}


