:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Geologica", sans-serif;

  --white: #fff;
  --red: #c4161c;
  --dark-red: #72110d;
  --black: #000;
  --text: #323232;
  --grey: #707070;
  --line: #ccc;
  --line-02: rgba(204, 204, 204, 0.2);
  --bg: #f1f1f1;

  --modal-bg: rgba(0, 0, 0, 0.3);
  --modal-icon: #c4161c;
  --modal-hover: #72110d;
  --modal-text: --text;

  --gap: 32px;
  --columns: repeat(12, 1fr);

  --swiper-navigation-size: 32px;
  --swiper-navigation-sides-offset: 32px;
  --swiper-pagination-color: #c4161c;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-vertical-gap: 10px;

  --favorite-color: #c4161c;
  --favorite-color-hover: #72110d;

  @media (max-width: 1279px) {
    --swiper-navigation-size: 24px;
    --swiper-navigation-sides-offset: 28px;
  }

  @media (max-width: 1023px) {
    --columns: repeat(6, 1fr);
  }

  @media (max-width: 767px) {
    --gap: 15px;
    --columns: repeat(2, 1fr);
  }
}
