.advantages-list {
  display: flex;
  max-width: calc(1050px + 32px);
  margin-bottom: 32px;

  &__item {
    display: grid;
    gap: 13px;
    grid-template-columns: 40px 1fr;
    align-items: flex-start;
    max-width: calc((100% / 3) - 32px);
    margin-right: 32px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    span {
      display: block;
      font-weight: 100;
      font-size: 36px;
      color: var(--red);
      line-height: 1;
    }
  }

  @media (max-width: 1023px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 32px;
    max-width: 100%;
    margin-bottom: 32px;

    &__item {
      max-width: 100%;
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-bottom: 25px;
  }
}
