.button {
  text-decoration: none;
  cursor: pointer;
  max-width: max-content;
  font-family: var(--font-family);
  text-align: center;
  transition: all 0.3s;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 56px;
  border-radius: 4px;
  padding: 0px 16px;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red);
    border-radius: 4px;
    border: 2px solid var(--red);
    transition: all 0.3s;
  }
  span {
    position: relative;
    color: inherit;
    z-index: 2;
  }
  &:hover,
  &:active,
  &:focus {
    &::before {
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
    }
  }

  &--to-left {
    margin-left: 0;
    margin-right: auto;
  }

  &--red {
    color: var(--red) !important;
    background-color: transparent;
    &::before {
      background-color: var(--white) !important;
      border: 2px solid var(--red) !important;
    }
  }
  &--long {
    padding-inline: 40px;
  }

  &--transparent {
    color: var(--white);
    &::before {
      background-color: transparent;
      border: 2px solid var(--white);
    }
    &:hover,
    &:active,
    &:focus {
      // color: var(--white);
      &::before {
        background-color: var(--red);
        border: 2px solid var(--red);
      }
    }
  }
  &--red {
    // color: var(--white);
    &::before {
      background-color: var(--dark-red);
      border: 2px solid var(--dark-red);
    }
  }

  &--small {
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
