.custom-select {
  position: relative;
  font-family: inherit;
  width: 100%;
  max-width: 100%;

  &__selected {
    background-color: var(--white);
    padding: 14px 16px;
    padding-right: calc(48px + 12px);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #161616;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    span {
      margin: 0 !important;
    }

    &:after {
      content: "";
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.1421 1.46448L8.07102 8.53555' stroke='%23C4161C' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M8.07104 8.53552L0.999977 1.46445' stroke='%23C4161C' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
      width: 15px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
      position: absolute;
      right: 20px;
      transition: all 0.3s;
    }
  }
  &:hover {

    .custom-select__selected {
      border: 1px solid var(--red);
    }
  }
  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    color: #161616;
    z-index: 20;
    display: none;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.2);
    background: var(--white);
  }
  &__option {
    padding: 14px 16px;
    cursor: pointer;
    border-top: 1px solid var(--bg);
    position: relative;
    transition: all 0.3s;

    span {
      position: relative;
    }
    &::before {
      content: "";
      display: block;
      // width: 16px;
      // height: 2px;
      background-color: transparent;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      transition: all 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      border-top: 1px solid transparent;
      z-index: 30;
      &::before {
        background-color: var(--red);
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
      }


    }
  }
  // активности
  &__open {
  }
  &.open &__selected {
    // background-color: var(--white);
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--white);
  }
  &.open &__options {
    display: block;
    border-radius: 0 0 4px 4px;
  }
  &.open &__selected:after {
    transform: rotate(-180deg);
  }

  @media (max-width: 767px) {
    border: 1px solid var(--line);
    border-radius: 4px;
  }
}
