.custom-form {
  &__item {
    margin-bottom: 16px;
  }
  &__row {
    display: grid;
    gap: 16px;
    grid-template-columns: 448px auto;
    max-width: max-content;
  }
  &__label {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }
  &__input {
    background: var(--white);
    border-radius: 4px;
    padding: 0 16px;
    max-width: 100%;
    width: 100%;
    height: 56px;
    border: 1px solid var(--white);
    outline: none;
    &:hover {
      border: 1px solid var(--red);
    }
    &:active {
      border: 1px solid var(--dark-red);
    }
  }
  .button {
    height: 56px;
    padding-inline: 24px;
  }

  @media (max-width: 767px) {
    &__row {
      gap: 10px;
      grid-template-columns: 1fr auto;
    }
  }
}
