.favorite-link {
  color: var(--favorite-color);
  position: relative;
  transition: all 0.3s;
  display: flex;
  width: 37px;
  height: 37px;
  &__icon {
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
  &__status {
    background-color: var(--white);
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--favorite-color);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 9px;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    line-height: 0.7;
  }

  &:hover {
    color: var(--favorite-color-hover);
  }
  &:hover &__status {
    border: 2px solid var(--favorite-color-hover);
  }
  // Активное состояние
  &.active {
    color: var(--favorite-color);

    &:hover {
      color: var(--favorite-color-hover);
    }
  }

  &.active &__status {
    background-color: var(--dark-red);
    color: var(--white);

    border: 2px solid var(--favorite-color-hover);

    svg {
      display: none;
    }
  }

  @media (max-width: 767px) {
    width: 32px;
    height: 32px;

    &__status {
      bottom: 2px;
      right: -1px;
    }
  }
}

.favorite-btn {
  border: none;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  transition: all 0.3s;
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 0.3s;
    pointer-events: none;
    // width: 100%;
    // height: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4161c;
    position: absolute;

    svg {
      position: relative;
      z-index: 2;
      pointer-events: none;
    }


    path {
      stroke: currentColor;
    }
  }

  &.active,
  &:hover {
    &::before {
      background-color: var(--favorite-color);
    }
    .favorite-btn__icon {
      color: var(--white);

    }
  }
  &:hover {
    // width: 44px;
    // height: 44px;
    &::before {
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
    }
  }
}
