.form-element {
  padding: 0;
  height: 56px;
  overflow: hidden;

  // &:hover::after,
  // &:focus-within::after {
  //   border: 1px solid #1d1d1b;
  // }

  input,
  textarea {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 16px;
    overflow: hidden;
    outline: none;
    border: 1px solid var(--line);

    border-radius: 5px;
    transition: all 0.3s;
    &:hover {
      border: 1px solid var(--red);
    }
    &:focus{
      border: 2px solid var(--dark-red);
    }
  }

  @media (max-width: 767px) {
    input {
      font-size: 13px;
      padding: 12px;
    }
  }

  @media (max-width: 767px) {
    height: 45px;
  }
}

.form-element--mod {
  height: 120px;
}
