.main-navigation {
  max-width: max-content;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 30px;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 24px;
    max-width: max-content;
    position: relative;
    &::before {
      content: "";
      display: block;
      top: 90%;
      left: 0;
      width: 100%;
      height: 200%;
      position: absolute;
    }
    &:hover {
      .main-navigation__sub-list {
        top: 35px;
        opacity: 1;
        pointer-events: initial;
        visibility: initial;
      }
    }
  }
  &__item:last-of-type {
    margin-right: 0;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #424242;
    text-decoration: none;
    position: relative;
    padding-top: calc(10px + 2px);
    padding-bottom: calc(10px + 2px);
    transition: all 0.3s;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 2px;
      background: var(--dark-red);
      transition: all 0.3s;
    }
    &:hover,
    &:active,
    &:focus {
      color: var(--black);
      &::before {
        background: var(--red);
        width: 100%;
      }
    }
  }
  &__sub-list {
    margin: 0;
    list-style: none;
    position: absolute;
    top: 150%;
    left: 0;
    width: max-content;
    min-width: 350px;
    background-color: var(--white);
    color: var(--grey-text);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s;

    &:has(*:hover),
    &:has(*:active),
    &:has(*:focus) {
      top: 35px;
      opacity: 1;
      pointer-events: initial;
      visibility: initial;
    }
  }
  &__sub-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 8px 10px;
    padding-left: calc(16px + 16px);
    transition: all 0.3s;
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: #9f231f;
      top: 20px;
      left: 0;
      position: absolute;
      transition: all 0.3s;
    }
    &:hover {
      background-color: var(--red);
      color: var(--white);
      padding-left: calc(16px + 16px + 16px);
      &::before {
        left: 16px;
        background-color: var(--white);
      }
    }
  }
  @media (max-width: 1410px) {
    margin-right: 0;
  }
}
