.our-partners {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 2fr 6fr;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: var(--black);
  }

  @media (max-width: 1023px) {
    &__grid {
      gap: 24px 32px;
      grid-template-columns: 1fr 2fr;
    }
  }
  @media (max-width: 767px) {
    &__grid {
      gap: 16px;
      grid-template-columns: 1fr;
    }
  }
}
