.title {
  margin-top: 0;
  font-style: normal;
  font-family: var(--font-family);
  position: relative;

  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--text);

  &--sm {
    font-size: 32px;
  }

  &--min {
    font-size: 24px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    color: var(--black);

    br {
      display: none;
    }

    &--sm {
      font-size: 25px;
    }
    &--min {
      font-size: 20px;
    }
  }
}

// .title--big {
//   font-size: 64px;
// }

// .title--small {
//   font-size: 24px;
// }

// .title--min {
//   font-size: 18px;
// }
